/* _darkmode.scss */

html.darkmode body {
  background-color: #111;
  color: #eee;
  border-top: 5px solid #03dac6;
}

html.darkmode body .highlight {
  background-color: #1d2f4a;
}

html.darkmode body {
  background-color: #1e1e1e;
  color: #ffffff;
}

html.darkmode body strong,
html.darkmode body b,
html.darkmode body .bold {
  color: #ffffff;
}

html.darkmode body .content .page-title,
html.darkmode body .page-title,
html.darkmode body .post-title,
html.darkmode body .post-title a,
html.darkmode body h2,
html.darkmode body h3,
html.darkmode body h4 {
  color: #bbf6ac;
}

html.darkmode body .message,
html.darkmode body .container,
html.darkmode body .content,
html.darkmode body .footer,
html.darkmode body .nav-main {
  background-color: #1e1e1e;
}

html.darkmode body .nav-main ul {
  border-bottom-color: #ffffff;
}

html.darkmode body .nav-main li a,
html.darkmode body .nav-main li.logo a,
html.darkmode body .nav-main .dark-mode-toggle,
html.darkmode body .footer,
html.darkmode body .container,
html.darkmode body .content {
  color: #ffffff;
}

html.darkmode body .footer a,
html.darkmode body .content .page-title {
  color: #03dac6;
}

html.darkmode body .hvr-underline-reveal {
  position: relative;
  display: inline-block;
}

html.darkmode body .hvr-underline-reveal::before {
  background-color: #bbf6ac;
}

html.darkmode body img {
  border-radius: 5px;
}

html.darkmode body html {
  color: #ffffff;
}

/* Set color for the right circle icon in dark mode */
html.darkmode body .fa-regular.fa-circle-right {
  color: #03dac6;
}

/* Set color for the left circle icon in dark mode */
html.darkmode body .fa-regular.fa-circle-left {
  color: #03dac6;
}

/* Set color for the "older posts" text in dark mode */
html.darkmode body .pagination-text {
  color: #03dac6;
}